beer-soap-server-client2/src/main/resources/wsdl/beers.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://proyecto.empresa.com/beer"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://proyecto.empresa.com/beer"
	targetNamespace="http://proyecto.empresa.com/beer">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://proyecto.empresa.com/beer">
			<xs:element name="getBeerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBeerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="beer" type="tns:beer" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="beer">
				<xs:sequence>
					<xs:element name="id" type="xs:int" />
					<xs:element name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getBeerResponse">
		<wsdl:part element="tns:getBeerResponse"
			name="getBeerResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBeerRequest">
		<wsdl:part element="tns:getBeerRequest"
			name="getBeerRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BeersPort">
		<wsdl:operation name="getBeer">
			<wsdl:input message="tns:getBeerRequest"
				name="getBeerRequest">
			</wsdl:input>
			<wsdl:output message="tns:getBeerResponse"
				name="getBeerResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BeersPortSoap11" type="tns:BeersPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getBeer">
			<soap:operation soapAction="" />
			<wsdl:input name="getBeerRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getBeerResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BeersPortService">
		<wsdl:port binding="tns:BeersPortSoap11"
			name="BeersPortSoap11">
			<soap:address
				location="http://localhost:8080/beer-server/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>